html
{
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%); 
}

html#theme_1{
    -webkit-filter: inherit;
	-moz-filter: inherit;
	-o-filter: inherit;
	-ms-filter: inherit;
}



